<div id="wrapper">
    <h1>Black is Down</h1>

    <h2>Current game</h2>

    <div id="clue">{{clue}}</div>

    <div id="answer">
        <input id="answer-input" placeholder={{answer}} />
    </div>

    <div id="active-time">
        Active for {{activeTime}}
    </div>

    <div id="previous-games">
        <h2>Previous games</h2>
        <table border="true">
            <thead>
                <th>Clue</th>
                <th>Answer</th>
                <th>Solved by</th>
                <th>Active time</th>
            </thead>
            <tbody>
                {{#each previousGames}}
                    <tr>
                        <td>{{clue}}</td>
                        <td>{{answer}}</td>
                        <td>{{solvedBy}}</td>
                        <td>{{activeTime}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>